<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300..700&display=swap" rel="stylesheet">
    <title>Desserts</title>
</head>
<body>
    <div class="dessert">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="logo">
                        <h1>Desserts</h1>      
                    </div>
                    <div class="row">       
                        <div class="col-4">
                            <div class="list">
                                <div class="item">
                                    <img src="/assests/images/image-baklava-desktop.jpg" alt="">
                                </div>
                                    <div class="addto-cart" data-item-id="1">
                                        <button class="cart-icon">
                                            <img src="/assests/images/icon-add-to-cart.svg" alt="Cart Icon">
                                            <p>Add to cart</p>
                                        </button>
                                        <div class="quantity">
                                            <button class="quantity-btn increment">
                                                <img src="/assests/images/icon-increment-quantity.svg" alt="Increase Quantity">
                                            </button>
                                            <span class="quantity-value">0</span>      
                                            <button class="quantity-btn decrement">
                                                <img src="/assests/images/icon-decrement-quantity.svg" alt="Decrease Quantity">
                                            </button>
                                        </div>
                                    </div>            
                                <div class="text">
                                    <p class="item-name">Waffle</p>
                                    <p class="item-title">Waffle with Berries</p>
                                    <p class="item-price">$6.50</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="list">
                                <div class="item">
                                    <img src="/assests/images/image-creme-brulee-desktop.jpg" alt="">
                                </div>
                                    <div class="addto-cart" data-item-id="1">
                                        <button class="cart-icon">
                                            <img src="/assests/images/icon-add-to-cart.svg" alt="Cart Icon">
                                            <p>Add to cart</p>
                                        </button>
                                        <div class="quantity">
                                            <button class="quantity-btn increment">
                                                <img src="/assests/images/icon-increment-quantity.svg" alt="Increase Quantity">
                                            </button>
                                            <span class="quantity-value">0</span>      
                                            <button class="quantity-btn decrement">
                                                <img src="/assests/images/icon-decrement-quantity.svg" alt="Decrease Quantity">
                                            </button>
                                        </div>
                                    </div>
                                <div class="text">
                                    <p class="item-name">Creme Brulee</p>
                                    <p class="item-title">Vanilla Bean Creme Brulee</p>
                                    <p class="item-price">$6.50</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="list">
                                <div class="item">
                                    <img src="/assests/images/image-macaron-desktop.jpg" alt="">
                                </div>
                                    <div class="addto-cart" data-item-id="1">
                                        <button class="cart-icon">
                                            <img src="/assests/images/icon-add-to-cart.svg" alt="Cart Icon">
                                            <p>Add to cart</p>
                                        </button>
                                        <div class="quantity">
                                            <button class="quantity-btn increment">
                                                <img src="/assests/images/icon-increment-quantity.svg" alt="Increase Quantity">
                                            </button>
                                            <span class="quantity-value">0</span>      
                                            <button class="quantity-btn decrement">
                                                <img src="/assests/images/icon-decrement-quantity.svg" alt="Decrease Quantity">
                                            </button>
                                        </div>
                                    </div>
                                <div class="text">
                                    <p class="item-name">Macaron</p>
                                    <p class="item-title">Macaron Mix of Five</p>
                                    <p class="item-price">$6.50</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="list">
                                <div class="item">
                                    <img src="/assests/images/image-tiramisu-desktop.jpg" alt="">
                                </div>
                                    <div class="addto-cart" data-item-id="1">
                                        <button class="cart-icon">
                                            <img src="/assests/images/icon-add-to-cart.svg" alt="Cart Icon">
                                            <p>Add to cart</p>
                                        </button>
                                        <div class="quantity">
                                            <button class="quantity-btn increment">
                                                <img src="/assests/images/icon-increment-quantity.svg" alt="Increase Quantity">
                                            </button>
                                            <span class="quantity-value">0</span>      
                                            <button class="quantity-btn decrement">
                                                <img src="/assests/images/icon-decrement-quantity.svg" alt="Decrease Quantity">
                                            </button>
                                        </div>
                                    </div>
                                <div class="text">
                                    <p class="item-name">Tiramisu</p>
                                    <p class="item-title">Classic Tiramisu</p>
                                    <p class="item-price">$6.50</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="list">
                                <div class="item">
                                    <img src="/assests/images/image-baklava-desktop.jpg" alt="">
                                </div>
                                    <div class="addto-cart" data-item-id="1">
                                        <button class="cart-icon">
                                            <img src="/assests/images/icon-add-to-cart.svg" alt="Cart Icon">
                                            <p>Add to cart</p>
                                        </button>
                                        <div class="quantity">
                                            <button class="quantity-btn increment">
                                                <img src="/assests/images/icon-increment-quantity.svg" alt="Increase Quantity">
                                            </button>
                                            <span class="quantity-value">0</span>      
                                            <button class="quantity-btn decrement">
                                                <img src="/assests/images/icon-decrement-quantity.svg" alt="Decrease Quantity">
                                            </button>
                                        </div>
                                    </div>
                                <div class="text">
                                    <p class="item-name">Baklava</p>
                                    <p class="item-title">Pistachio Baklava</p>
                                    <p class="item-price">$6.50</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="list">
                                <div class="item">
                                    <img src="/assests/images/image-meringue-desktop.jpg" alt="">
                                </div>
                                    <div class="addto-cart" data-item-id="1">
                                        <button class="cart-icon">
                                            <img src="/assests/images/icon-add-to-cart.svg" alt="Cart Icon">
                                            <p>Add to cart</p>
                                        </button>
                                        <div class="quantity">
                                            <button class="quantity-btn increment">
                                                <img src="/assests/images/icon-increment-quantity.svg" alt="Increase Quantity">
                                            </button>
                                            <span class="quantity-value">0</span>      
                                            <button class="quantity-btn decrement">
                                                <img src="/assests/images/icon-decrement-quantity.svg" alt="Decrease Quantity">
                                            </button>
                                        </div>
                                    </div>
                                <div class="text">
                                    <p class="item-name">Pie</p>
                                    <p class="item-title">Lemon Meringue Pie</p>
                                    <p class="item-price">$6.50</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="list">
                                <div class="item">
                                    <img src="/assests/images/image-cake-desktop.jpg" alt="">
                                </div>
                                    <div class="addto-cart" data-item-id="1">
                                        <button class="cart-icon">
                                            <img src="/assests/images/icon-add-to-cart.svg" alt="Cart Icon">
                                            <p>Add to cart</p>
                                        </button>
                                        <div class="quantity">
                                            <button class="quantity-btn increment">
                                                <img src="/assests/images/icon-increment-quantity.svg" alt="Increase Quantity">
                                            </button>
                                            <span class="quantity-value">0</span>      
                                            <button class="quantity-btn decrement">
                                                <img src="/assests/images/icon-decrement-quantity.svg" alt="Decrease Quantity">
                                            </button>
                                        </div>
                                    </div>
                                <div class="text">
                                    <p class="item-name">Cake</p>
                                    <p class="item-title">Red Velvet Cake</p>
                                    <p class="item-price">$6.50</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="list">
                                <div class="item">
                                    <img src="/assests/images/image-brownie-desktop.jpg" alt="">
                                </div>
                                    <div class="addto-cart" data-item-id="1">
                                        <button class="cart-icon">
                                            <img src="/assests/images/icon-add-to-cart.svg" alt="Cart Icon">
                                            <p>Add to cart</p>
                                        </button>
                                        <div class="quantity">
                                            <button class="quantity-btn increment">
                                                <img src="/assests/images/icon-increment-quantity.svg" alt="Increase Quantity">
                                            </button>
                                            <span class="quantity-value">0</span>      
                                            <button class="quantity-btn decrement">
                                                <img src="/assests/images/icon-decrement-quantity.svg" alt="Decrease Quantity">
                                            </button>
                                        </div>
                                    </div>
                                <div class="text">
                                    <p class="item-name">Browine</p>
                                    <p class="item-title">Salted Caramel Browine</p>
                                    <p class="item-price">$6.50</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="list">
                                <div class="item">
                                    <img src="/assests/images/image-panna-cotta-desktop.jpg" alt="">
                                </div>
                                    <div class="addto-cart" data-item-id="1">
                                        <button class="cart-icon">
                                            <img src="/assests/images/icon-add-to-cart.svg" alt="Cart Icon">
                                            <p>Add to cart</p>
                                        </button>
                                        <div class="quantity">
                                            <button class="quantity-btn increment">
                                                <img src="/assests/images/icon-increment-quantity.svg" alt="Increase Quantity">
                                            </button>
                                            <span class="quantity-value">0</span>      
                                            <button class="quantity-btn decrement">
                                                <img src="/assests/images/icon-decrement-quantity.svg" alt="Decrease Quantity">
                                            </button>
                                        </div>
                                    </div>
                                <div class="text">
                                    <p class="item-name">Panna Cotta</p>
                                    <p class="item-title">Vanilla Panna Cotta</p>
                                    <p class="item-price">$6.50</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="cart">
                        <div class="cart-heading">
                            <p>Your Cart</p>
                            <span class="total-count">(0)</span>
                        </div>
                        <div class="empty-cart">
                            <div class="empty-cart-content">
                                <img src="/assests/images/illustration-empty-cart.svg" alt="">
                                <p>Your added items will appear here</p>
                            </div>
                        </div>
                        <div class="cart-content">
                            <div class="item-in-cart">
                                <p class="cart-item-name"></p>
                                <div class="cart-item">
                                    <div class="cart-item-price">
                                        <p class="item-quantity"></p>
                                        <p class="incart-price"></p>
                                        <p class="item-total"></p>
                                    </div>
                                    <div class="remove-item">
                                        <button class="remove-item-cart">
                                            <img src="/assests/images/icon-remove-item.svg" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-border"></div>
                            <div class="order-total">
                                <p>Order Total</p>
                                <p class="total-amount"></p>
                            </div>
                            <div class="deliver">
                                <img src="/assests/images/icon-carbon-neutral.svg" alt="">
                                <p>This is <strong>carbon netural</strong> delivery </p>
                            </div>
                            <div class="order-confirm">
                                <button>
                                    Confirm Order 
                                </button>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>

      </div>
 </div>
  <script src="/js/code.js"></script>
</body>
</html>